name: codacy
"on":
  push:
    branches:
      - main
  pull_request:
    # The branches below must be a subset of the branches above
    branches:
      - main
  schedule:
    - cron: 31 11 * * 3
permissions:
  actions: read
  contents: read
  security-events: write
jobs:
  codacy:
    permissions:
      contents: read
      security-events: write
      actions: read
    name: codacy
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: analysis
        uses: codacy/codacy-analysis-cli-action@97bf5df3c09e75f5bcd72695998f96ebd701846e
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          verbose: true
          output: results.sarif
          format: sarif
          gh-code-scanning-compat: true
          max-allowed-issues: 2147483647
      - name: clean
        run: jq '.runs |= unique_by({tool, invocations, results})' < results.sarif > codacy.sarif
      - name: upload
        uses: github/codeql-action/upload-sarif@1b549b9259bda1cb5ddde3b41741a82a2d15a841
        with:
          sarif_file: codacy.sarif
